.positions
{
    color: black;
    margin-top: 5%;
    margin-left: 19%;
    margin-bottom: 1.5%;
    font-size: 20px;
    font-weight: 500;
}
.mleft{
    margin-left: -4.5%;
}

.position2
{
    color: black;
    margin-top: 2%;
    margin-left: 18.5%;
    margin-bottom: -4.5%;
    font-size: 20px;
    font-weight: 500;
    z-index: 1;

}



@media  screen and (min-width: 1800px) {
        
    .positions
    {
        color: black;
        margin-top: 6.5%;
        margin-left: 21.2%;
        margin-bottom: 1%;
        font-size: 20px;
        font-weight: 500;
    }
    .mleft{
        margin-left: -2.8%;
    }
    
    .position2
    {
        color: black;
        margin-top: 1.5%;
        margin-left: 20.5%;
        margin-bottom: -3%;
        font-size: 20px;
        font-weight: 500;
    
    }
       
}

