.containersize{
    width: 37.5%;
    
}

.marginbottoms
{
    margin-bottom: -100px;
}

.marginchart
{
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.widthsection3
{
  
    margin-top: 80px;
    width: 76%;
}

.hrwhite4
{
    opacity: 30%;
    margin-top: -1px;
    margin-bottom: -20px;
    width: 88%;
    color: black;
    border-color:black;
}

.margin7days
{
    margin-left: -83%;
    margin-bottom: -200%;
}


.margin7days2
{
    margin-left: -76%;
}

.MarginTop2{
    margin-top: 35PX;
}

.pointer{
    cursor:pointer;
}

.hrwhite3
{
    opacity: 20%;
    margin-top: -1px;
    margin-bottom: -20px;
    margin-left: 7.5%;

    width: 87%;
    color: black;
    border-color:black;
}

.positiondrop2
{
    position: absolute;
    top: 70%;
    left: 5%;
}


.positiondrop3
{
    position: absolute;
    top: 90%;
    left: 1%;
}



@media  screen and (min-width: 1800px) {
        
                
    .hrwhite3
    {
        opacity: 20%;
        margin-top: -1px;
        margin-bottom: -20px;
        margin-left: 5.2%;

        width: 91%;
        color: black;
        border-color:black;
    }

        
    .hrwhite4
    {
        opacity: 30%;
        margin-top: -1px;
        margin-bottom: -20px;
        width: 91.5%;
        color: black;
        border-color:black;
    }

       
}

